body{
    text-align: center;
    font-family: Roboto;
    background: #F4F5F9;
    color: #87C3BB;
}

.header{
    padding: 1%;
    font-family: Montserrat;
    font-weight: 500;  
    position: relative;
    padding-bottom: 10px;
    box-shadow: rgba(0,0,0,0.2) 5px 5px 25px;
}

h2{
    padding: 3%;
    font-size: 1rem;
    margin-bottom: 10px;
}

#name{
    width:60%:
}

#cvv{
    width:20%;
}

button{
    background-color: #87C3BB; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    width: 80%;
    padding: 5px 16px;
    margin-bottom: 16px;
}