body{
    text-align: center;
    font-family: Roboto;
    background: #F4F5F9;
    color: #87C3BB;
}

.body-container{
    padding: 10%;
    font-family: Montserrat;
    font-weight: 500;  
    font-size: 1.5rem;
}

.navbar{
    padding-top: 3%;
    padding-bottom: 3%;
}

.navbar-custom {
    background: #F4F5F9;
}

.navbar-brand{
    font-weight: 700;
    text-align: center;
    margin-left: 35%;
    font-size: 1rem;
}

.navbar-light .navbar-brand{
    color: #87C3BB;
  }

.navbar-light .navbar-brand:visited{
    color: #87C3BB;
  }
.vending-machine{
    margin: auto;
    width: 100%;
}

.navbar-toggler{
    border: none;
    display: none;
}

h2{
    padding: 3%;
    font-size: 1.5rem;
    margin-bottom: 75px;
}

.login-btn{
    background-color: #87C3BB; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    padding: 5px 16px;
    margin-bottom: 16px;
}

.signup-btn{
    background-color: Transparent; 
    border: 2px solid #87C3BB;
    color: #87C3BB;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    width: 100%;
    padding: 5px 16px;
    margin-bottom: 16px;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 1rem;
    color: #87C3BB;
}

.navbar-light .navbar-nav .active>.nav-link{
    font-size: 1rem;
    color: #87C3BB;
}

.loginbox{
    font-family: Roboto;
    font-weight: 500;  
    font-size: 1rem;
    color: black;
    width: 90%;
    background: #fff;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 5%;
    display: none;
    box-shadow: rgba(0,0,0,0.2) 5px 5px 25px;
}

h3{
    padding: 3%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 500;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 50px;
    padding: 6px 10px;
    margin: 7.5px 0;
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius:10px ;
    box-sizing: border-box;
    font-weight: 500;
    color: #c4c4c4;
  }

.fa-times{
    position: absolute;
    top: 20px;
    right: 20px;
}

.loginbox2{
    padding-top: 3%;
    padding-left: 10%;
    padding-right:10% ;
    position: relative;
}

p{
    margin-bottom: 10px;
}


