body{
    text-align: center;
    font-family: Roboto;
    background: #F4F5F9;
    color: #87C3BB;
}

.header{
    padding: 1%;
    font-family: Montserrat;
    font-weight: 500;  
    position: relative;
    box-shadow: rgba(0,0,0,0.2) 5px 5px 25px;
}
.body-container{
    padding: 10%;
    font-family: Montserrat;
    font-weight: 500;  
    font-size: 1.5rem;
    background: #fff;
}

h2{
    padding: 3%;
    font-size: 1rem;
    margin-bottom: 10px;
}

.cont1{
    display: flex;
    flex-direction: row;
}

.cont2{
    display: flex;
    flex-direction: column;
}

.image{
    width: 25%;
}
.name{
    width: 50%;
}
.tools{
    width: 25%;
}
.fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
}

input[type=text] {
    width: 100%;
    height: 30px;
    padding: 6px 10px;
    margin: 7.5px 0;
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius:10px ;
    box-sizing: border-box;
    font-weight: 500;
    color: #c4c4c4;
    font-size: 1rem;
  }

  .add{
      position: fixed;
      bottom: 10px;
      right:10px
  }

  /* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }